body{
    font-family : Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #f0f0f0;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background-color: #0056b3;
}